$max-width: 75rem;
$header-height: 4rem;
$color-primary: #1f1f38;
$color-secondary: #2c2c6c;
$color-tertiary: #4db5ff;
$color-white: #ffff;
$border-radius: 0.2rem;
$color-card-background: rgba(77, 181, 255, 0.4);

$mobile-max-width: 480px; //@media only screen and (max-width: 480px)
$tablet-max-width: 768px; //@media only screen and (max-width: 768px)
$laptop-max-width: 1200px; //@media only screen and (max-width: 1024px)
